@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

@viewport{
  min-width: 300px;
  min-height: 568px;
  max-width: 1000px;
  max-height: 750px
}

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Raleway', sans-serif
  /*  */
}

p{
  font-family: 'Work Sans', sans-serif
}
 
 .App {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;  */
  /* align-items: center;
  justify-content: space-between;  */
  background-color: #f9f9f9; 
  min-height: 99vh; 
  max-width: 99vw; 
  padding:0;
  /* margin: 10%; */
}  
.landing{
  /* background-image: url('./landingImage.jpg');
  background-size: cover; */
  background-image: linear-gradient(to top, rgb(221, 218, 218) 0%, #e4e8ec 100%);
  min-width: 100vw;
  min-height: 100vh; 
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin-top: -25px; */
}

.landingText{
  background-color: rgb(34, 33, 33);
  min-width: 50vw;
  min-height: 50vh;
  max-width: 60vw;
  max-height: 70vh;
  /* padding-top: 2%; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.landingText h1{
  color: white;
  font-family: 'Pacifico', cursive;
  font-style:italic;
}

.header{
  background-color: #343d46;
  width : 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
  opacity: 1;
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
}

.header a:hover{
  background-color: Black;
  color:white;
}

.authNav{
  width:100%;
  height:20%;
  text-decoration: none;
  opacity: 0.8;
  /* color: white; */
  opacity: 1;
 
}

.homeMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


#workerAuthNav{
  background-color: transparent;
  text-decoration: none;
  color: white;
}

#employerAuthNav{
  background-color: transparent;
}

#workerAuthNav:hover{
  animation:authNavAnimation 2s;
}

#employerAuthNav:hover{
  /* background-color:white; */
  animation: authNavAnimation 2s
}

#logout{
  margin-top: 0px;
}



button{
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 5px;
  border: none;
  background-color: transparent;
  font-family: 'Courier Prime Sans'
}

button:hover{
  transition-duration: 0.5s;
  background-color: #343d46;
  color: white;
}

a {
  text-decoration: none;
  color: #000000;
}

@keyframes authNavAnimation{
  to {background-color: #ffffff}
}

