@import url('https://fonts.googleapis.com/css?family=Work+Sans');

h1, h2, h3, p {
  font-family: 'Work Sans', sans-serif
}

.main{
  /* width: 100%;
  height: 100%; */
  /* background-image: url('../../landingImage.jpg'); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.authCard{
  background-color: white;
  padding-top: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  opacity: 0.7;
  animation: fadein 1.5s;
 
}

.authCardLogin{
  width: 300px;
  height: 300px;
  /* margin-left: 40%; */
}

.authCardRegister{
  width: 450px;
  min-height: 300px;
  /* height: 70vh; */
  /* margin-left: 25%; */
  /* margin-top: 5%; */
}

.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 250px;
  height: 15px;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 0px;
  font-family: 'Courier Prime Sans';
  background-color: transparent;
  border-left:none;
  border-right: none;
  border-top:none
}

input:focus{
  scale: 1.5;
  animation: underline 1.5s;
  /* border-bottom-color: green */
}

textarea{
  width: 250px;
  height: 80px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: 'Courier Prime Sans'
}

.signUpForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
}


@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1}
}

@keyframes underline{
  to {border-bottom-color: green }
}
