@import url('https://fonts.googleapis.com/css?family=Work+Sans');

h1, h2, p {
  font-family: 'Work Sans', sans-serif
}

.usermain{
  width: 100vw;
  height: 100vh;
   /* background-image: url('../../landingImage.jpg');  */
  background-color: #f9f9f9;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tile{
  width: 400px;
  height: 500px;
  background-color: #1f1c1c;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.miniCard{
  height: 100px;
  width: 500px;
  background-color: white;
  display: block;
}

.jobSuggestContainer {
  /* height: 100vh; */
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  /* margin-top: 30px; */
  /* flex-wrap: wrap; */
}

.jobcard{
  width: 400px;
  height: 450px;
  /* position: relative; */
  /* margin-left: 5px; */
  /* margin-top: 5px; */
  background-color: white;
  border-radius: 5px
}

.iconSpace{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

i{
  margin-left:0;
  margin-right: 0;
}


