@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
h1, h2, p {
  font-family: 'Work Sans', sans-serif
}

.usermain{
  width: 100vw;
  height: 100vh;
   /* background-image: url('../../landingImage.jpg');  */
  background-color: #f9f9f9;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tile{
  width: 400px;
  height: 500px;
  background-color: #1f1c1c;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  animation: tileFadeIn 2s;
  
}

.tile:hover{
  transform: scale(1.15)
}

.tile h2{
  font-family: 'Pacifico', cursive
}

.likelist{
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 50px;
}
.miniCard{
  height: 150px;
  width: 400px;
  background-color: #1f1c1c;
  display: block;
  padding: 20px;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: none;
}

.jobSuggestContainer {
  /* height: 100vh; */
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  /* margin-top: 30px; */
  /* flex-wrap: wrap; */
}

.jobcard{
  width: 400px;
  height: 450px;
  /* position: relative; */
  /* margin-left: 5px; */
  /* margin-top: 5px; */
  background-color: rgb(165, 165, 165);
  border-radius: 20px;
  padding: 20px;
}

.iconSpace{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
  margin-left: 90px;
  margin-top: 150px;
}

i{
  margin-left:70px;
  margin-right: 0;
}

i:hover{
  transform: scale(1.5);
}

@keyframes tileFadeIn{
  from{opacity:0}
  to{opacity:1}
}


